a {
  text-decoration: none;
}

.navbar {
    grid-area: navbar;
    background-color: #7f2732;
    // background-image: url(https://img.freepik.com/free-vector/set-note-paper_53876-117730.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-decoration: none;
    justify-items: center;
    // border-bottom: 2px solid #c98686;
  }

.navItems {
    color: #000000;
    cursor: pointer;
    margin: auto;
    

    &:hover {
        color:#F3E779;
        text-decoration-line: underline;
    }
  }