.individualBlog {
    margin:auto;
    width: 80%;
    height: auto;
    background-color: rgb(226, 226, 42);
    text-align: center;
}

.blogInfo {
    margin: 45px 55px;
    display: flex;
    justify-content: space-between;
}

.blogPost {
    margin: 45px 10px;
}