.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "signIn-container navbar"
      "sidebar main-content"
      "sidebar main-content"
      "footer footer";
    height: 100vh;
    
  }
