.sidebar {
    grid-area: sidebar;
    background-color: #e7cfbc;
    padding: 20px;
    text-align: center;
  }

.sidebar__heading {
    color: #7f534b;
  }

.help {
    text-decoration: none;
    margin-top: 328px;
}
