
.imageBox {
    margin: auto;
    background-color: #c98686;
    height: 175px;
    width: 175px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 90%;
    height: auto;
    border-radius: 5%;
}